
<!DOCTYPE html>
html(lang="en")
  head
    script(src="dist/bundle.css")
    //- include partials/head
  body
  header.header

  main.nsg-wrapperContainer
    //- include partials/aside-left

    //pre= vardump(projects)
    .nsg-contentWrapper
      block content

    //- include partials/aside-right

  // Scripts
  script(src="dist/bundle.js")
