<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <h2>Forgot Password?</h2>
    <p>You can reset your password here.</p>


    <div>
        <div>
            <p id="error"></p>
            <input id="token" value="<%= identifier %>" type="hidden">
            <input id="password" name="password" placeholder="password" type="password">
            <input id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" type="password">
        </div>
    </div>
    <div>
        <input value="Reset Password" onclick="setNewPassword()" type="submit">
    </div>

    <input type="hidden" class="hide" name="token" id="token" value="">
</body>

</html>
<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
<script>
    function setNewPassword() {

        debugger

        let password = document.getElementById('password').value
        let confirmPassword = document.getElementById('confirmPassword').value
        let token = document.getElementById('token')
        if (!password || !confirmPassword) {
            let error = document.getElementById('error')
            error.style.color = 'red'
            error.innerHTML = 'Both fields required.'
        } else {
            if (password.length < 5) {
                let error = document.getElementById('error')
                error.style.color = 'red'
                error.innerHTML = 'Password length must be 5.'
            } else {

                if (password !== confirmPassword) {
                    let error = document.getElementById('error')
                    error.style.color = 'red'
                    error.innerHTML = 'Password not match.'
                } else {

                    $.ajax({
                        type: "POST",
                        url: "new-password-email",
                        data: { password, confirmPassword, token },
                        success: function (res) {
                            if (res.error) {
                                var error = document.getElementById('error');
                                error.style.color = 'red'
                                error.innerHTML = res.error;

                            } else if (res.success) {
                                var error = document.getElementById('error');
                                error.innerHTML = 'Password set against user please login.';
                            }
                        }
                    });
                }
            }
        }

    }
</script>